@model List<ResultAboutDto>
@{
	ViewData["Title"] = "About Page";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
	int count = 0;
}
<div class="py-3">
	<a asp-action="CreateAbout" asp-area="Admin" asp-controller="About" class="btn btn-primary">Add New</a>
</div>
<table class="table table-hover">
	<tr>
		<th>#</th>
		<th>Image 1</th>
		<th>Image 2</th>
		<th>Description</th>
		<th>Item 1</th>
		<th>Item 2</th>
		<th>Item 3</th>
		<th>Item 4</th>
		<th>Actions</th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td><img src="@item.ImageUrl1" style="height:75px; width:75px;" /></td>
			<td><img src="@item.ImageUrl2" style="height:75px; width:75px;" /></td>
			<td>@item.Description</td>
			<td>@item.Item1</td>
			<td>@item.Item2</td>
			<td>@item.Item3</td>
			<td>@item.Item4</td>
			<td>
				
				<a asp-action="DeleteAbout" asp-route-id="@item.AboutId" asp-controller="About" asp-area="Admin" class="btn btn-outline-danger">Delete</a>
				<a asp-action="UpdateAbout" asp-route-id="@item.AboutId" asp-controller="About" asp-area="Admin" class="btn btn-outline-info">Update</a>

			</td>
		</tr>
	}
</table>

			